.loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-box {
  width: 265px;
  height: 265px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-circle {
  position: absolute;
  animation: turn 5s ease-in-out infinite;
}

@keyframes turn {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
