#root {
  max-width: 1280px;
  text-align: center;
}

.box {
  height: 1079px;
  width: 100vw;
}

.box-white {
  background-color: var(--color-white);
}

.box-green {
  background: var(--color-green);
}
