#root {
  max-width: 1280px;
  text-align: center;
}

.box {
  width: 100vw;
}

.box-one {
  height: 1080px;
}

.box-two {
  height: 1080px;
  position: relative;
  z-index: 2;
}

.box-three {
  height: 1080px;
}

.box-four {
  height: 380px;
}

.box-white {
  background-color: var(--color-white);
}

.box-green {
  background: var(--color-green);
}

@media screen and (max-width: 1440px) {
  .box-one {
    height: 885px;
  }

  .box-two {
    height: 1100px;
  }

  .box-three {
    height: 1035px;
  }
}

@media screen and (max-width: 768px) {
  .box-two {
    height: 825px;
  }

  .box-three {
    height: 1300px;
  }
}

@media screen and (max-width: 355px) {
  .box-two {
    height: 655px;
  }
}
