@font-face {
  font-family: 'Antapani';
  src:
    url('../src/assets/font/Antapani-Bold.woff2') format('woff2'),
    url('../src//assets//font/Antapani-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSans';
  src:
    url('../src/assets/font/IBMPlexSans.woff2') format('woff2'),
    url('../src/assets/font/IBMPlexSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noir Pro';
  src:
    url('../src/assets/font/NoirPro-Light.woff2') format('woff2'),
    url('../src//assets//font/NoirPro-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-family: 'Antapani', sans-serif;
  --third-family: 'IBMPlexSans', sans-serif;
  --font3: 'Noir Pro', sans-serif;

  --color-white: #fff;
  --color-black: #333;
  --color-black-button: #2c2c2c;
  --color-black-stroke: #000;
  --color-green: linear-gradient(
    97deg,
    #93bda1 0%,
    #9dcdbf 0.01%,
    #b1d09e 100%
  );
  --color-orange: #ffa821;

  --font-extra-bold: 800;
  --font-regular: 400;
  --font-light: 300;

  --media-s: 355px;
  --media-m: 768px;
  --media-l: 1440px;
  --media-xl: 1920px;

  line-height: 1.35;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-black);
  background-color: var(--color-white);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
}
